@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
#main{
    margin-top: 240px;
}
h1{
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 120px !important;
}
h1::before{
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url("../img/logos/illu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align:sub;
    margin-right: 20px;
}
#grid{
    display: grid;
    width: 80%;
    margin: 0 auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
#grid img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--accent-color);
}