@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
:root{
    --logo-orange: #FF8400;
    --accent-color: #FF8400;
    --orange-hover: #E67E22;
    --logo-blue: #8FA0D8;
    --secondary-accent-color: #8FA0D8;
    --blue-hover: #84A9AC;
    --primary-background: #0B0B29;
    --secondary-background: #F9D9C6;
    --text-color: #2C3E50;
    --secondary-text-color: #F5F6F7;
    --font-manrope: 'Manrope', sans-serif;
    --font-baloo: 'Baloo 2', sans-serif;
    --font-baloo-weight: 800;
}
#main{
    margin-top: 240px;
}
h1{
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 120px !important;
}
h1::before{
    content: "";
    display: inline-block;
    width: 64px; /* adapte */
    height: 64px;
    background-image: url("../img/logos/illu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align:sub;
    margin-right: 20px;
}
#grid{
    display: grid;
    width: 80%;
    margin: 0 auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
#grid img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--accent-color);
}