@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
#main{
    margin-top: 240px;
}
h1{
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 120px !important;
}
h1::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 64px;
    background-image: url("../img/logos/figma_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align:sub;
    margin-right: 20px;
}
#main h2{
    color: var(--secondary-accent-color);
}
#main ul{
    list-style-type: none;
}
.proto{
    display: grid;
    grid-template: 
    'a a'
    'b c';
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 80px;
    gap: 8%;
}
.proto h2{
    grid-area: a;
    text-align: center;
}
.proto img{
    max-width: 412px;
    min-width: 300px;
    max-height: 464px;
    min-height: 332px;
    width: 100%;
    height: 100%;
    grid-area: b;
}
.proto img[alt*="Movie"]{
    max-width: 678px;
    min-width: 300px;
    max-height: 464px;
    min-height: 230px;
    width: 100%;
    height: 100%;
}
.text {
    grid-area: c;
    width: fit-content;
}
.row h3{
    font-family: var(--font-manrope);
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 500;
    width: 135px !important;
    margin: 0;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
}
.row p{
    font-size: 24px;
    margin: 0;
    max-width: 715px;
    min-width: 548px;
    height: auto;
    line-height: 1.3em;
}
.row{
    display: inline-flex;
    align-items: baseline ;
    justify-content: flex-start;
	gap: 1vw;
	margin-bottom: 20px;
	max-width: 1133px;
}
.row a{
    color: var(--accent-color);
    text-decoration: none;
}
.row a:hover{
    color: var(--orange-hover);
}