@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body{
    background-color: #0B0B29;
    color: #8FA0D8;
    font-family: 'Baloo 2', cursive;
}
h1:first-child{
    margin-top: 17%;
}
h1{
    text-align: center;
    font-size: 4em;
}