@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
:root{
    --logo-orange: #FF8400;
    --accent-color: #FF8400;
    --orange-hover: #E67E22;
    --logo-blue: #8FA0D8;
    --secondary-accent-color: #8FA0D8;
    --blue-hover: #84A9AC;
    --primary-background: #0B0B29;
    --secondary-background: #F9D9C6;
    --text-color: #2C3E50;
    --secondary-text-color: #F5F6F7;
    --font-manrope: 'Manrope', sans-serif;
    --font-baloo: 'Baloo 2', sans-serif;
    --font-baloo-weight: 800;
}


body{
    background-color: var(--primary-background);
    font-family: var(--font-manrope);
    color: var(--secondary-text-color);
    max-width: 1920px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-baloo);
    font-weight: var(--font-baloo-weight);
    color: var(--secondary-accent-color);
}
#nav ul{
    list-style-type: none;
    padding: 10px 20px;
    margin: -100px auto;
    display: flex;
    background-color: 
    rgba(132,169,172,0.05);
    width: 910px;
    justify-content: space-between;
    border-radius: 40px;
    height: 40px;
    transition-duration: 0.3s;
}
#nav ul:hover{
    background-color: 
    rgba(249,217,198,0.3);
}
#nav ul li{
    flex-direction: row;
}
#nav a:not(#logo){
    text-decoration: none;
    color: var(--secondary-accent-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
}
#nav a:not(#logo):hover{
    color: var(--accent-color);
}

#logo{
    display: block;
    margin-top: 40px;
    margin-left: 100px;
}
#header{
    margin: 0 auto;
    margin-top: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1428px;
    gap: 140px;
}
#header img{
    width:572px;
}
h1{
    font-size: 64px;
    color: var(--secondary-accent-color);
}
h1:nth-child(1){
    margin-bottom: 0;
    margin-top: 0;
}
h1:nth-child(2){
    margin-left: 150px;
    margin-top: 0;
}
#main{
    margin-top: 120px;
}
#main h2, #footer h2{
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 56px;
    color: var(--accent-color);
}
#whoami h3{
    font-size: 48px;
}
#whoami{
    width: 1920px;
    height: 980px;
    position: relative;
}
#whoami img{
    position: absolute;
    width: auto;
    height: 285px;
    left: 818px;
    top: 389px;
}
.whoami_Sections{
    width: fit-content;
    position: absolute;
}
#UXSection{
    left: 545px;
    top: 211px;
}
#UISection{
    left: 1118px;
    top: 170px;
}
#SSSection{
    left: 249px;
    top: 562px;
}
#BGSection{
    left: 826px;
    top: 740px;
}
#TSection{
    left: 1263px;
    top: 571px;
}
.whoami_Sections h3{
margin: 0;
 line-height: 1em;
}
.whoami_Sections ul li{
    color: var(--secondary-text-color);
    font-size: 24px;
    font-family: var(--font-manrope);
    font-weight: 500;
}
#whatido{
    width: 1920px;
    height: fit-content;
    margin-bottom: 80px;
    margin-top: 80px;
}
#whatido_content{
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template: 
    'b c d';
    gap: 254px;
}
.work h3{
    color: var(--accent-color);
    font-family: var(--font-manrope);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
}
.work{
    width: 227px;
    height: 376px;
    background-color: var(--secondary-accent-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}
#Work_Figma{
    grid-area: b;
}
#Work_Web{
    grid-area: c;
}
#Work_Illu{
    grid-area: d;
}
#whatido h2{
    margin-bottom: 40px;
}
#whatido a{
    text-decoration: none;
}
.work p{
    color: var(--text-color);
    margin: 0;
}
.work img{
    background-color: var(--primary-background);
    width: 227px;
    height: 227px;
}
.work h3{
    margin: 0;
}
#footer{
    margin-top: 120px;
}
#footer a{
    color: var(--secondary-text-color);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-manrope);
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 32px;
}
#footer h2{
    margin-bottom: 40px;
}
#footer a[title*="Instagram"]::before{
    content: "";
    display: inline-block;
    width: 32px; /* adapte */
    height: 32px;
    background-color: white; /* couleur finale */
    mask: url("./img/instagram.svg") no-repeat center / contain;
    -webkit-mask: url("./img/instagram.svg") no-repeat center / contain;
    vertical-align:text-top;
    margin-right: 20px;
}
#footer a[title*="mail"]::before{
    content: "";
    display: inline-block;
    width: 32px; /* adapte */
    height: 32px;
    background-color: white; /* couleur finale */
    mask: url("./img/mail.svg") no-repeat center / contain;
    -webkit-mask: url("./img/mail.svg") no-repeat center / contain;
    vertical-align:text-top;
    margin-right: 20px;
}
#footer a[title*="CV"]::before{
    content: "";
    display: inline-block;
    width: 32px; /* adapte */
    height: 32px;
    background-color: white; /* couleur finale */
    mask: url("./img/file-text.svg") no-repeat center / contain;
    -webkit-mask: url("./img/file-text.svg") no-repeat center / contain;
    vertical-align:text-top;
    margin-right: 20px;
}
#link{
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
}
#buttonScroll{
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--secondary-accent-color);
    mask: url("./img/arrow-up.svg") no-repeat center / contain;
    -webkit-mask: url("./img/arrow-up.svg") no-repeat center / contain;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    transition-duration: 0.5s;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}